@font-face{
  font-family: "Minecraft";
  src:url(fonts/Minecraft.ttf);
}

:root {
  --brown: #67452d;
}

body {
  font-family: "Minecraft";
}

h1 {
  font-family:"Minecraft";
  color: var(--brown);
}

