@font-face{
  font-family: "Minecraft";
  src:url(fonts/Minecraft.ttf);
}

:root {
  --brown: #d1a483;
}

body {  
  font-family: "Minecraft";
  width: "810";
  height: "1080";
}

h1 {
  font-family:"Minecraft";
  color: var(--brown);
}

